USE [Convo]
GO
/****** Object:  StoredProcedure [dev].[drop_foreign_keys]    Script Date: 4/14/2025 10:05:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dev].[foreign_keys] @action varchar(4) = 'none' as 
begin

if @action = 'drop'	begin
	begin transaction
		alter table dev.message_multimedia drop constraint if exists fk_message_multimedia_text_message;
		alter table dev.message_multimedia drop constraint if exists fk_message_multimedia_repo_multimedia;
		alter table dev.message_uuid       drop constraint if exists fk_text_message_message_uuid;
	commit
end
else if @action = 'make' begin
	alter table dev.message_uuid add constraint fk_text_message_message_uuid 
		foreign key (message_id) references dev.text_message (id);
	alter table dev.message_multimedia add constraint fk_message_multimedia_text_message 
		foreign key (message_id) references dev.text_message (id);
	alter table dev.message_multimedia add constraint fk_message_multimedia_repo_multimedia 
		foreign key (multimedia_id) references dev.repo_multimedia (id);
end
else begin
	print('No valid option specified.')
	print('Use: "exec dev.reset_tables <drop|make>"')
end

end
