body {
    width: 100%;
    background-color: #33333a;
    color: #eeeeee;
}

table {
    width: 60%;
    table-layout: fixed;
}

td {
    overflow: clip;
    word-wrap: break-word;
    border-top-style: dotted;
    border-top-width: 2px;
    border-color: #505050;
    border-collapse: collapse;
}

p {
    font-family: Aptos, Arial, Helvetica, sans-serif;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.left {
    text-align: left;
    padding-right: 30%;
}

.right {
    text-align: right;
    padding-left: 30%;
}

.tshide {
    display: none;
}

.tsdiv:hover + .tshide {
    display: block;
    color: #aaaadd;
    font-family: Arial, Helvetica, sans-serif;
}
