USE [Convo]
GO
/****** Object:  StoredProcedure [dev].[load_messages]    Script Date: 4/10/2025 8:59:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER     procedure [dev].[load_messages] as 

begin

BEGIN TRANSACTION


/*
 *	step: load new messages to production table
 */


insert into dev.t_message_uuid_hash (message_id, seq_id, uuid, message_hash)
select 
	id
	, cast(part_seq as int)
	, part_uuid
	, hashbytes('sha2_256'
		, concat_ws('~'
			, message_service
			, message_date
			, message_timestamp
			, message_author
			, mms_m_size
			, mms_tr_id
			, mms_id
			, part_seq
			, part_ct
			, part_cl
			, part_text
		)
	) as message_hash
from land.text_message
;


;with keyed_message as (
	select 
		t.*
		, u.message_hash
		, row_number() over (partition by u.message_hash order by t.record_created asc) as rn
	from land.text_message t
	inner join dev.t_message_uuid_hash u
		on t.id = u.message_id
	)
insert into dev.text_message (
	message_service
	, message_date
	, message_timestamp
	, message_author
	, mms_m_size
	, mms_tr_id
	, mms_id
	, part_seq
	, part_ct
	, part_cl
	, part_text
	, message_hash
	, record_created
	)
output 
	inserted.id
	, inserted.message_hash
into dev.t_new_messages (message_id, message_hash)
select 
	k.message_service
	, k.message_date
	, k.message_timestamp
	, k.message_author
	, k.mms_m_size
	, k.mms_tr_id
	, k.mms_id
	, k.part_seq
	, k.part_ct
	, k.part_cl
	, k.part_text
	, k.message_hash
	, k.record_created
from keyed_message as k
left join dev.text_message as p
	on k.message_hash = p.message_hash
where 
	p.id is null
	and k.rn = 1
;


/*
 *	step: load new multimedia to production
 */


;with stitched_multimedia_content as (
	select
		m.part_uuid
		, string_agg(cast(m.chunk_data as varchar(max)), '') within group (order by m.chunk_number asc) as MIME_content
		, min(m.record_created) as record_created
	from land.multimedia m
	-- limit to content associated with a newly inserted message
	inner join dev.t_message_uuid_hash u
		on m.part_uuid = u.uuid
	inner join dev.t_new_messages c
		on u.message_hash = c.message_hash
	group by 
		m.part_uuid
)
insert into dev.t_multimedia_uuid_hash (multimedia_hash, multimedia_content, uuid, record_created)
select 
	hashbytes('sha2_256', MIME_content)
	, MIME_content
	, part_uuid
	, record_created
from stitched_multimedia_content
;


insert into dev.repo_multimedia (content, multimedia_hash, record_created)
output 
	inserted.id
	, inserted.multimedia_hash
into dev.t_new_multimedia (multimedia_id, multimedia_hash)
select distinct
	m.multimedia_content
	, m.multimedia_hash
	, m.record_created
from dev.t_multimedia_uuid_hash m
;


/*
 *	step: record the new message and multmedia content ids to the join table
 */


insert into dev.message_multimedia (message_id, multimedia_id, seq_id, record_created)
select 
	nm.message_id
	, nmx.multimedia_id
	, muh.seq_id
	, mxu.record_created
from dev.t_new_multimedia nmx
inner join dev.t_multimedia_uuid_hash mxu
	on nmx.multimedia_hash = mxu.multimedia_hash
inner join dev.t_message_uuid_hash muh
	on mxu.uuid = muh.uuid
inner join dev.t_new_messages nm
	on muh.message_hash = nm.message_hash
;


--rollback
commit

end
;
